 /*Header*/
 
 .header {
    margin-top: 40px;
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 123px;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: center;
}
.header h1 {
    width: 100px;
    height: 65px;
    background-color: black;
    font-family:Times;
    font-size:17px;
    color: #005ea9;
}
.header p {
    font-family:'Gill Sans';
    color: #000000;
    font-size: 15px;
    line-height: 1px;
} 

/*Name*/

.Name {
    margin-top: 180px;
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 240px;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: center;
}
.Name h1 {
    font-family:Times;
    font-size:57px;
    color: #005ea9;
}

/*Persoenliche-Daten-Links*/

.P-D-L {
    margin-top: 360px;
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 170px;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: left;
}
.P-D-L h1 {
    font-family:Times;
    font-size:25px;
    color: #005ea9;
}
.P-D-L p1, p2, p3, p4, p5, p6 {
    font-family:'Gill Sans';
    color: #000000;
    font-size: 15px;
    line-height: 1px;
}  

/*Persoenliche-Daten-Rechts*/

.P-D-R {
    margin-top: 377px;
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 260px;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: left;
}
.P-D-R h1 {
    font-family:Times;
    font-size:21px;
    color: #005ea9;
}
.P-D-R p1, p2, p3, p4, p5, p6 {
    font-family:'Gill Sans';
    color: #000000;
    font-size: 15px;
    line-height: 1px;
}  

/*Foto*/

.Foto {
    margin-top: 320px;
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 600px;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: left;
}

/*Bildungsweg*/

.Bildung {
    margin-top: 560px;
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 150px;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: left;
}
.Bildung h1 {
    font-family:Times;
    font-size:25px;
    color: #005ea9;
}
.Bildung p1, p2, p3 {
    font-family:'Gill Sans';
    color: #000000;
    font-size: 15px;
    line-height: 1px;
}  

/*Kenntnisse*/

.Kenntnisse {
    margin-top: 635px;
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 500px;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: left;
}
.Kenntnisse h1 {
    font-family:Times;
    font-size:25px;
    color: #005ea9;
}
.Kenntnisse h2 {
    font-family:Times;
    font-size:20px;
    color: #005ea9;
}
.Kenntnisse p1, p2, p3, p4, p5 {
    font-family:'Gill Sans';
    color: #000000;
    font-size: 15px;
    line-height: 1px;
}  

/*Praxis Erfahrung*/

.Erfahrung {
    margin-top: 815px;
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 192px;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: left;
}
.Erfahrung h1 {
    font-family:Times;
    font-size:25px;
    color: #005ea9;
}
.Erfahrung p1, p2 {
    font-family:'Gill Sans';
    color: #000000;
    font-size: 15px;
    line-height: 1px;
} 

/*Hobbys*/

.Hobbys {
    margin-top: 700px;
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 190px;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: left;
}
.Hobbys h1 {
    font-family:Times;
    font-size:25px;
    color: #005ea9;
}
.Hobbys p1, p2, p3 {
    font-family:'Gill Sans';
    color: #000000;
    font-size: 15px;
    line-height: 1px;
}  

/*Unterschrift*/

.Unterschrift {
    margin-top: 1050px;
    margin-bottom:0px;
    margin-right: 0px;
    margin-left: 630px;
    position: absolute;
    transform: translate(-50%, -55%);
    text-align: left;
}
.Unterschrift p1 {
    font-family:'Gill Sans';
    color: #000000;
    font-size: 15px;
    line-height: 1px;
}  